/*----index----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /*variaveis do css*/
  --primary-color: hsl(245, 100%, 55%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --bg-light: hsl(0, 0%, 100%);

  font-size: 62.5%; /* a fonte raiz do site foi alterada para 10px*/
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}
#logo {
  height: 20rem;
  width: 20rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.inicio {
  padding: 0 4rem;
  background-image: url(./imagens/bgInicio.png);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3.6rem 1rem;
  background-color: aqua;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul a {
  margin: 2rem;
}
.button {
  color: hsl(0, 0%, 100%);
  background-color: var(--primary-color);
  padding: 1.6rem;
  border-radius: 10rem;
}
