#about {
  width: 65rem;
  margin-inline: auto;
  padding-block: 4rem;

  text-align: center;
}
#about h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-family: 'Titan One Regular';
}
#about #redesSociais {
  padding-inline: 30%;
  margin-top: 4rem;
}
#about #redesSociais a {
  margin-inline: auto;
  display: flex;
  align-items: center;
}
#about p {
  color: black;
  padding-block: 1rem;
  line-height: 1.9rem;
  text-align: justify;
  font-family: 'Plus Jakarta Sans';
}
#about p:nth-child(5) {
  margin-bottom: 2rem;
}

#imagem {
  width: 100%;
  height: 26vw;
  background-image: url(../imagens/about/saraLizAdote.jpg);
  background-size: cover;
  background-position: 50% 38%;
}
/*----------------ADOPT-------------*/

#adopt {
  width: 125rem;
  padding-block: 4rem;
  margin-inline: auto;
}
#adopt .animais-adocao{
  display: flex;
  justify-content: center;
}
#adopt .animais-adocao .card .img-adocao{
  display: flex;
  width: 100%;
  height: 45%;
  margin: 0;
  padding: 0;
  align-items: center;
}
#adopt .animais-adocao .card .img-adocao img {
  border-radius: 1rem;
  width: 103%;
  height: 100%;
  object-fit: cover;
}
#adopt .animais-adocao .card .txt-adocao{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1.8rem;
  text-align: left;
}
#adopt .animais-adocao .card .txt-adocao ul li{
  font-family: 'Plus Jakarta Sans';
  text-align: left;
  list-style: disc;
  margin: 1rem 2.5rem;
}
#adopt #redesSociais {
  padding-inline: 30%;
  margin-top: 4rem;
}
#adopt #redesSociais a {
  margin-inline: auto;
  display: flex;
  align-items: center;
}
#adopt h2 {
  font-size: 4rem;
  font-weight: 100;
}
#adopt .card {
  width: 38rem;
  height: 60rem;
  margin: 4rem;
  box-shadow: 1px 1px 11px 5px #bfbfbf;
  background-color: #fff;

}

#adopt .card p {
  text-align: justify;
}
/*---------------DONATE-------------*/
#donate {
  width: 55rem;
  padding-block: 4rem;
  margin-inline: auto;
}
#donate #box {
  box-shadow: 0 0 1.5rem var(--shadow-color);
  border-radius: 2rem;
}
#donate #redesSociais {
  padding-inline: 30%;
  margin-top: 4rem;
}
#donate #redesSociais a {
  margin-inline: auto;
  display: flex;
  align-items: center;
}
#donate h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
#donate #box {
  width: 80%;
  margin-inline: auto;
  background-color: var(--bg-donate);
}
#donate img:first-child {
  width: 100%;
  height: auto;
  margin-block: 0;
  border-radius: 5rem;
}
#donate img {
  width: 40%;
  margin-block: 2rem;
}
#textDonate {
  width: 100%;
  padding-inline: 3rem;
}
#textDonate p {
  line-height: 2rem;
  text-align: justify;
}
#textDonate p:last-child {
  margin-top: 2rem;
}
#textDonate h3 {
  margin-bottom: 2rem;
  color: black;
}
